DATABASE_URL = "postgresql://neondb_owner:***REMOVED***-autumn-darkness-agauzpfw-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

DIRECT_URL = "postgresql://neondb_owner:***REMOVED***-autumn-darkness-agauzpfw.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

AUTH_SECRET=cpp_super_secret_please_change_me_1234567890
